$theme-colors: (
  primary: #17a2b8,
  secondary: #dcfaff,
  themeone: #1CCFEB,
  themetwo:#1BC4DE,
  themethree:#19B9D1,
  themefour:#138C9E,
  themefive:#0D5F6B,
  themesix:#073238,
);

@import "~/node_modules/bootstrap/scss/bootstrap";